@import "../../assets/styles/variables"

.Hero
	&__title
		font-size: 48px
		font-weight: 300
		text-align: center

	&__title--first
		font-weight: 700

	&__title--second
		color: $ColorRed
		font-weight: 700
