.Footer
	position: relative
	height: 401px

	&__background
		position: absolute
		left: 50%
		top: 50%
		-webkit-transform: translateY(-50%) translateX(-50%)

.Footer__copy
	color: #943b25
	display: flex
	justify-content: space-between
	font-size: 15px
	font-weight: 700
	line-height: 38.4px
	position: absolute
	bottom: 0
	padding: 0 10px
	width: calc(100% - 20px)
	justify-content: space-between

.Dinosaurus
	position: absolute
	bottom: 113px
	right: 0

	&__holder
		animation: moveImage 15s linear infinite
		animation-delay: 15s
		right: 350px
		transform: translateX(350px)


.dino-celist
	transform-origin: 90px 30px
	-webkit-animation: rotatecelist 2s infinite
	animation-direction: alternate

.dino-pravaruka
	transform-origin: 70px center
	-webkit-animation: rotatecelist 2s infinite
	animation-direction: alternate

.dino-levaruka
	transform-origin: 70px center
	-webkit-animation: rotatecelist 2s infinite
	animation-direction: alternate

.dino-levanoha,
.dino-pravanoha
	position: relative
	transform-origin: top center
	-webkit-animation: legmowing 2s infinite
	animation-direction: alternate
.dino-levanoha
	animation-delay: 1s
.Haystack
	position: absolute
	bottom: 113px
	right: 0

	&__holder
		animation: moveImage 15s linear infinite
		animation-delay: 13s
		right: 350px
		transform: translateX(350px)

	&__shadow
		animation: shadow 2s linear infinite
		animation-direction: alternate
		position: relative
		top: 47px

	&__ball__holder
		animation: jumping 2s linear infinite
		position: relative

	&__ball
		position: absolute
		-webkit-animation: rotate 2s infinite linear

@keyframes shadow
	0%
		transform: scale(1)
	50%
		transform: scale(.8)
	100%
		transform: scale(1)

@keyframes rotate
	from
		transform: rotate(0deg)
	to
		transform: rotate(-360deg)

@keyframes rotatecelist
	from
		transform: rotate(0deg)
	to
		transform: rotate(-14deg)

@keyframes jumping
	0%
		top: 0
	50%
		top: 50px
	100%
		top: 0

@keyframes legmowing
	0%
		transform: translateY(0px)
	50%
		transform: translateY(-15px)
	100%
		transform: translateY(0px)

@keyframes jumpinginverse
	0%
		top: 50px
	50%
		top: 0
	100%
		top: 50px

@keyframes moveImage
	0%
		transform: translateX(350px)

	100%
		transform: translateX(calc(-100vw - 350px))
