.Reference
	&__title
		display: flex
		justify-content: center
		font-size: 48px
		font-weight: 700

	&__holder
		display: grid
		grid-gap: 10px
		grid-auto-flow: row
		justify-items: stretch
		/* grid-auto-columns: 2fr; */
		grid-template-columns: repeat(auto-fit, minmax(467px, 1fr))
		justify-content: center
		align-items: center
		grid-row-gap: 70px

	&__holder--small
		margin: 97px 0
		display: grid
		grid-gap: 68px
		grid-auto-columns: min-content
		justify-content: center
		align-items: center

		svg
			justify-self: center

		@media only screen and (min-width: 677px)
			grid-auto-flow: column

	&__item
		align-self: center
		justify-self: center
		text-align: center

		&--img
			img
				max-width: 100%
				height: auto
				width: 100vw

				@media only screen and (min-width: 677px)
					width: auto

		&--title
			font-weight: 400
			text-transform: uppercase
			letter-spacing: 0.75px
			margin: 7px auto 29px
